@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PKMN RBYGSC';
    src: url('/fonts/PKMN RBYGSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {

    --text-2xs: 0.625rem;
    --text-2xs--line-height: 1rem;

    --font-pokemon: "PKMN RBYGSC", " sans-serif";

    --color-pkd-purple-1: #E9E8EF;
    --color-pkd-purple-2: #DAD7F5;
    --color-pkd-purple-3: #8682AA;
    --color-pkd-purple-4: #7B70DE;
    --color-pkd-purple-6: #503F51;
    --color-pkd-pink-3: #C87BAE;
    --color-pkd-pink-4: #B62A87;
    --color-pkd-green-3: #33727C;
    --color-pkd-green-6: #0C4C51;
    --color-pkd-white-a80: #FFFFFFCC;
    --color-pkd-white-a40: #FFFFFF66;
    --color-pkd-white-a100: #FFFFFF;
    --color-pkd-white-a0: #FFFFFF00;
}

@media (min-width: 450px) {
    .grid-xs-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* this is for highlighting <li> which consist of pokemon header on search */
.highlight {
    background-color: var(--color-pkd-purple-3);
    transition: background-color 1.5s;
}